default:
    gherkin:
        filters:
            tags: "~@wip"
    suites:
        search:
            contexts:
                - PhpServerContext
                - BehatRunnerContext
                - RestExtensionContext
    formatters:
        pretty: ~
